name: Continuous Integration
on:
  pull_request:
    paths:
      - "**.md"

permissions: read-all
jobs:
  markdown-link-check:
    name: Link Checker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Link Check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
